.elastigantt__main,.elastigantt__svg-container{
  background: #fff;
}
.elastigantt__container,.elastigantt__svg-container{
  max-width: 100%;
}
.elastigantt__header{
  margin:0 auto;
}
.elastigantt__grid-horizontal-line, .elastigantt__grid-vertical-line{
  stroke: #a0a0a0;
  stroke-width: 1;
}
.elastigantt__calendar-row-group rect{
  fill:#ddd;
  stroke:#A0A0A0;
  stroke-width:1;
}
.elastigantt__calendar-row-group text{
  fill:#000;
  font-family: 'Arial';
  font-size: 12px;
}
foreignObject > *{
  margin: 0px;
}
.elastigantt .p-2{
  padding: 10rem;
}
.elastigantt__container{
  display: flex;
  max-width: 100%;
}
.elastigantt__main-svg-container , .elastigantt__main-container{
  overflow: auto;
  max-width:100%;
}
.elastigantt__task-list-header{
  display: flex;
  user-select: none;
}
.elastigantt__task-list-header-column{
  border: 1px solid #00000050;
  border-right:none;
  box-sizing: border-box;
  display: flex;
  background: rgba(0,0,0,0.125);
}
.elastigantt__task-list-column-expander svg{
  margin: auto 0px;
  user-select: none;
}
.elastigantt__task-list-header-column:last-of-type{
  border-right: 1px solid #00000050;
}
.elastigantt__task-list-header-label{
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Arial;
  font-size: 12px;
  box-sizing: border-box;
  margin: 6px;
  display: inline-flex;
  flex-grow: 1;
}
.elastigantt__task-list-header-resizer{
  background: transparent;
  height: 100%;
  width: 4px;
  cursor: col-resize;
  display: inline-flex;
}
.elastigantt__task-list-item{
  border-top: 1px solid #00000050;
  border-right: 1px solid #00000050;
  box-sizing: border-box;
  display: flex;
  background: rgba(0,0,0,0.125);
}
.elastigantt__task-list-item-column{
  display: inline-flex;
  border-left:1px solid #00000050;
  box-sizing: border-box;
}
.elastigantt__task-list-item-value{
  margin: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  word-break: keep-all;
  font-family: Arial;
  font-size: 12px;
}
