.gantt-elastic__main-view svg{
  display: block;
}
.gantt-elastic__grid-horizontal-line, .gantt-elastic__grid-vertical-line{
  stroke: #a0a0a0;
  stroke-width: 1;
}
foreignObject > *{
  margin: 0px;
}
.gantt-elastic .p-2{
  padding: 10rem;
}
.gantt-elastic__main-view-svg-container , .gantt-elastic__main-view-container{
  overflow: hidden;
  max-width:100%;
}
.gantt-elastic__task-list-header-column:last-of-type{
  border-right: 1px solid #00000050;
}
.gantt-elastic__task-list-item:last-of-type{
  border-bottom:1px solid #00000050;
}
.gantt-elastic__task-list-item-value-wrapper:hover {
  overflow: visible !important;
}
.gantt-elastic__task-list-item-value-wrapper:hover > .gantt-elastic__task-list-item-value-container{
  position: relative;
  overflow: visible !important;
}
.gantt-elastic__task-list-item-value-wrapper:hover > .gantt-elastic__task-list-item-value{
  position: absolute;
}
