.gantt-elastic__main svg{
  display: block;
}
.gantt-elastic__svg-container{
  position: relative;
}
.gantt-elastic__main,.gantt-elastic__svg-container{
  background: #fff;
}
.gantt-elastic__container,.gantt-elastic__svg-container{
  max-width: 100%;
}
.gantt-elastic__grid-horizontal-line, .gantt-elastic__grid-vertical-line{
  stroke: #a0a0a0;
  stroke-width: 1;
}
foreignObject > *{
  margin: 0px;
}
.gantt-elastic .p-2{
  padding: 10rem;
}
.gantt-elastic__container{
  display: flex;
  max-width: 100%;
  position: absolute;
  height: 100%;
}
.gantt-elastic__main-svg-container , .gantt-elastic__main-container{
  overflow: hidden;
  max-width:100%;
}
.gantt-elastic__task-list-header-column:last-of-type{
  border-right: 1px solid #00000050;
}
.gantt-elastic__task-list-item:last-of-type{
  border-bottom:1px solid #00000050;
}
