.gantt-elastic__main svg{
  display: block;
}
.gantt-elastic__svg-container{
  position: relative;
}
.gantt-elastic__main,.gantt-elastic__svg-container{
  background: #fff;
}
.gantt-elastic__container,.gantt-elastic__svg-container{
  max-width: 100%;
}
.gantt-elastic__header{
  margin:0 auto;
  background: #f3f5f747;
  padding:10px;
  overflow: hidden;
  clear: both;
  display:flex;
  justify-content: space-between;
}
.gantt-elastic__header-title{
  float:left;
}
.gantt-elastic__header-options{
  float: right;
}
.gantt-elastic__grid-horizontal-line, .gantt-elastic__grid-vertical-line{
  stroke: #a0a0a0;
  stroke-width: 1;
}
.gantt-elastic__calendar-row-group rect{
  fill:#ddd;
  stroke:#A0A0A0;
  stroke-width:1;
}
.gantt-elastic__calendar-row-group text{
  fill:#000;
  font-family: 'Arial';
  font-size: 12px;
}
foreignObject > *{
  margin: 0px;
}
.gantt-elastic .p-2{
  padding: 10rem;
}
.gantt-elastic__container{
  display: flex;
  max-width: 100%;
  position: absolute;
  height: 100%;
}
.gantt-elastic__main-svg-container , .gantt-elastic__main-container{
  overflow: hidden;
  max-width:100%;
}
.gantt-elastic__task-list-header{
  display: flex;
  user-select: none;
}
.gantt-elastic__task-list-header-column{
  border: 1px solid #00000050;
  border-top:none;
  border-right:none;
  box-sizing: border-box;
  display: flex;
  background: rgba(0,0,0,0.125);
}
.gantt-elastic__task-list-column-expander svg{
  margin: auto 0px;
  user-select: none;
}
.gantt-elastic__task-list-header-column:last-of-type{
  border-right: 1px solid #00000050;
}
.gantt-elastic__task-list-header-label{
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Arial;
  font-size: 12px;
  box-sizing: border-box;
  margin: 6px;
  display: inline-flex;
  flex-grow: 1;
}
.gantt-elastic__task-list-header-resizer{
  background: transparent;
  height: 100%;
  width: 4px;
  cursor: col-resize;
  display: inline-flex;
}
.gantt-elastic__task-list-item{
  border-top: 1px solid #00000050;
  border-right: 1px solid #00000050;
  box-sizing: border-box;
  display: flex;
  background: rgba(0,0,0,0.125);
}
.gantt-elastic__task-list-item:last-of-type{
  border-bottom:1px solid #00000050;
}
.gantt-elastic__task-list-item-column{
  display: inline-flex;
  flex-shrink: 0;
  border-left: 1px solid #00000050;
  box-sizing: border-box;
}
.gantt-elastic__task-list-item-value--wrapper{
  overflow: hidden;
  display: flex;
  width: 100%;
}
.gantt-elastic__task-list-item-value{
  margin: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  display: block;
  flex-shrink: 100;
  word-break: keep-all;
  font-family: Arial;
  font-size: 12px;
  width: 100%;
}
.gantt-elastic__tree-scroll-container{
  overflow:auto;
  max-width:100%;
}
